.main_page {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.main_page::before {
  background-image: url('../../assets/homeMain.jpeg');
  background-size: cover;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.3;
}

.main_container {
  background-color: rgba(128, 125, 125, 0.353);
  text-align: center;
  border-radius: 2vh;
}

.btn_main {
  background-color: darkblue;
  border: none;
  padding: 2vh 3vw;
}

.main_container h1,
p,
button {
  padding: 5vw;
}